<nav class="sticky-top" style="background-color: rgb(0, 34, 90);">
  <div class="container-fluid">
    <div class="header-logo-wrap d-none d-lg-flex">
        <div class="header-fixed-logo">
        <a href="#"><img src="assets/img/logo/dark.png" alt=""></a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-xl-2 col-xl-10 d-none d-lg-block">
            <div class="main-menu">
                <div class="main-nav">
                    <ul>
                        <li class="drop-holder"><a href="">Home</a></li>
                        <li class="drop-holder"><a href="">About Us</a></li>
                        <li class="drop-holder"><a href="">Services</a></li>
                        <li class="drop-holder"><a href="">Poject</a></li>
                        <li class="drop-holder"><a href="">Shop</a></li>
                        <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
