<div class="pt-140">
    <div class="container">
        <div class="row g-lg-9">
            <div class="col-lg-4 col-md-6">
                <div class="card card-item" style="background-image: url('assets/img/banner/inner-bg/1-1.png'); color: #ffffff;">
                    <div class="card-body">
                      <h3 class="card-title">Top Rated</h3>
                      <p class="card-text">Top rated construction packages we provide page editors now use Lorem as their default model text</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="card card-item" style="background-image: url('assets/img/banner/inner-bg/1-2.png'); color: #ffffff;">
                    <div class="card-body">
                      <h3 class="card-title">Best Quality</h3>
                      <p class="card-text">Quality is the construction packages we provide page editors now use Lorem as their default</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="card card-item" style="background-image: url('assets/img/banner/inner-bg/1-3.png'); color: #ffffff;">
                    <div class="card-body">
                      <h3 class="card-title">Low Price</h3>
                      <p class="card-text">SPricing is the construction packages we provide page editors now use Lorem as their default</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>