<section id="proyect">
<div id="breadcrumb-area" class="breadcrumb-height" style="background-image: url(assets/img/breadcrumb/bg/1.jpg);">
    <div class="container">
        <div>
            <span class="breadcrumb-sub-title">
                Our Project
            </span>
            <h1 class="breadcrumb-title mb-1">Projects</h1>
            <p class="breadcrumb-desc font-size-20">Construction of itself, because it is pain some proper style design occur are pleasure</p>
        </div>
    </div>
</div>

<div class="proyect-area py-140">  
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 pb-6">
            <div class="project-item">
                <a href="" class="project-img"><img src="assets/img/project/medium-size/2-1-370x540.jpg" alt=""></a>
            </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-2-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-3-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-4-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-5-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-6-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-7-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-8-370x540.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pb-6">
                <div class="project-item">
                    <a href="" class="project-img"><img src="assets/img/project/medium-size/2-9-370x540.jpg" alt=""></a>
                </div>
            </div>

            <div class="button-wrap button-position-center pt-10">
                <a href="#" class="btn btn-custom btn-primary btn-secondary-hover">Load more</a>
            </div>
        </div>
    </div>
</div>

</section>