<div class="projects">
    <div class="project-inner" style="background-image: url(assets/img/project/bg/1-1.png);">
        <div class="button-wrap text-end">
            <a href="" class="btn btn-project">
                <span>view more</span>
            </a>
        </div>

        
    <div class="container-fluid p-0">
        <div class="project-with-title">
            <div class="section-title-area text-white h-100">
                <div class="section-title-wrap style-02">
                    <div class="section-title">
                        <span>PROJECTS</span>
                        <h2 class="mb-0">
                            Our Recent
                            <br>
                            Projects
                        </h2>
                    </div>
                </div>
            </div>
           
            <div class="swiper-container project-slider swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6"><img src="assets\img\project\medium-size\1-1-405x474.jpg" class="img-fluid"></figure>
                <figure class="col-lg-3 col-md-4 col-sm-6"><img src="assets\img\project\medium-size\1-2-405x474.jpg" class="img-fluid"></figure>
                <figure class="col-lg-3 col-md-4 col-sm-6"><img src="assets\img\project\medium-size\1-3-405x474.jpg" class="img-fluid"></figure>
                <figure class="col-lg-3 col-md-4 col-sm-6"><img src="assets\img\project\medium-size\1-4-405x474.jpg" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
